In [10]:
import os
path='c:/bench/bst/data/neighborhoods/'

In [11]:
for f in os.listdir(path):
    if os.path.isfile(os.path.join(path, f)):
        parts = f.split('.')
        if len(parts) == 2 and parts[1] == 'csv':
            print(f)

Bruce_St.csv
Garden_Homes.csv

In [12]:
import csv
streets = []

In [13]:
with open('c:/bench/bst/data/neighborhoods/Bruce_St.csv', 'r') as f:
    rdr = csv.DictReader(f)
    for line in rdr:
        streets.append(line)
streets

[{'name': 'MILLER AVE', 'lo': '1775', 'hi': '2133', 'oe': 'O'},
 {'name': 'DUNCAN ST', 'lo': '', 'hi': '', 'oe': ''},
 {'name': 'BRUCE ST', 'lo': '', 'hi': '', 'oe': ''},
 {'name': 'ALICE ST', 'lo': '', 'hi': '', 'oe': ''},
 {'name': 'ARLENE ST', 'lo': '', 'hi': '', 'oe': ''},
 {'name': 'ROSS ST', 'lo': '', 'hi': '', 'oe': ''},
 {'name': 'SUNRISE ST', 'lo': '', 'hi': '', 'oe': ''},
 {'name': 'SUNRISE CT', 'lo': '', 'hi': '', 'oe': ''},
 {'name': 'WESTWOOD AVE', 'lo': '400', 'hi': '', 'oe': ''},
 {'name': 'ARBORVIEW BLVD', 'lo': '1900', 'hi': '2118', 'oe': 'E'}]

In [15]:
import pandas as pd

In [18]:
df=pd.read_csv('c:/bench/reps/michigan/data/voters.csv')

In [19]:
df.head()

,last_name,first_name,middle_name,name_suffix,date_of_birth,birth_year,gender,ethnicity,street_address,city,...,ward,precinct,congress,state_senate,state_house,voter_id,reg_date,status,absentee,party
0,SCHOUWINK,KAREN,M,NaN,NaN,1959,F,NaN,1843 FAWNBROOKE RUN,ALLEGAN,...,0,001,6,26,80,2550011644,4221999,A,N,NaN
1,GATEWOOD,DAVONTAE,EUGENE,NaN,NaN,1999,M,NaN,9459 E PICKWICK CIR,TAYLOR,...,0,013,12,6,12,33335040,5242017,A,N,NaN
2,GAITAN,DERRICK,MIKEAL,NaN,NaN,1993,M,NaN,1779 LIBERTY DR APT 202,MOUNT PLEASANT,...,0,003,4,33,99,33335041,5242017,A,N,NaN
3,GIDDINGS,JOSHUA,JOHN,NaN,NaN,1974,M,NaN,4105 MEADOW WAY,BLOOMFIELD HILLS,...,0,003,9,12,40,33335042,6282014,A,N,NaN
4,IRVIN,YVONNE,N,NaN,NaN,1960,F,NaN,15744 PINEHURST ST,DETROIT,...,2,384,14,3,7,2000362739,5121992,A,N,NaN

In [20]:
aa=df.loc[df['city']=='ANN ARBOR']

In [21]:
aa.head()

,last_name,first_name,middle_name,name_suffix,date_of_birth,birth_year,gender,ethnicity,street_address,city,...,ward,precinct,congress,state_senate,state_house,voter_id,reg_date,status,absentee,party
57,ALBERTINI,JEFFREY,M,NaN,NaN,1984,M,NaN,205 HIGHLAKE AVE,ANN ARBOR,...,5,008,12,18,53,1630074500,9242008,A,N,NaN
60,FEURINO,LOUIS,WILLIAM,NaN,NaN,1979,M,NaN,3026 CLOVERLY LN,ANN ARBOR,...,3,005,12,18,53,1630074501,10062008,A,N,NaN
163,DAWSON,JOHN,FORREST,JR,NaN,1949,M,NaN,525 ELIZABETH ST,ANN ARBOR,...,1,004,12,18,55,1630074503,10062008,A,N,NaN
184,GANZ,LAUREN,NaN,NaN,NaN,1962,F,NaN,244 MURRAY AVE,ANN ARBOR,...,5,002,12,18,53,1630074505,10062008,A,Y,NaN
869,GANN,JOSHUA,LAWRENCE,NaN,NaN,1988,M,NaN,1015 RABBIT RUN CIR APT 103,ANN ARBOR,...,0,007,12,22,52,33335068,5252017,A,N,NaN

In [22]:
aa.shape

(47386, 23)

In [23]:
df.columns

Index(['last_name', 'first_name', 'middle_name', 'name_suffix',
       'date_of_birth', 'birth_year', 'gender', 'ethnicity', 'street_address',
       'city', 'zipcode', 'county', 'jurisdiction', 'ward', 'precinct',
       'congress', 'state_senate', 'state_house', 'voter_id', 'reg_date',
       'status', 'absentee', 'party'],
      dtype='object')

In [25]:
aa.drop(['date_of_birth', 'ethnicity'], axis=1, inplace=True)

C:\Python39\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [26]:
aa.columns

Index(['last_name', 'first_name', 'middle_name', 'name_suffix', 'birth_year',
       'gender', 'street_address', 'city', 'zipcode', 'county', 'jurisdiction',
       'ward', 'precinct', 'congress', 'state_senate', 'state_house',
       'voter_id', 'reg_date', 'status', 'absentee', 'party'],
      dtype='object')

In [27]:
aa.to_csv('c:/bench/bst/data/my_voters.csv', index=False)

In [28]:
import usaddress

In [29]:
addr='145 N SAN RAFAEL AVE SW'
usaddress.parse(addr)

[('145', 'AddressNumber'),
 ('N', 'StreetNamePreDirectional'),
 ('SAN', 'StreetName'),
 ('RAFAEL', 'StreetName'),
 ('AVE', 'StreetNamePostType'),
 ('SW', 'StreetNamePostDirectional')]

In [31]:
x = usaddress.parse('434 S BON JOVI BLVD E')
x

[('434', 'AddressNumber'),
 ('S', 'StreetNamePreDirectional'),
 ('BON', 'StreetName'),
 ('JOVI', 'StreetName'),
 ('BLVD', 'StreetNamePostType'),
 ('E', 'StreetNamePostDirectional')]

In [34]:
x[0]

('434', 'AddressNumber')

In [35]:
s=''
for t in x:
    if t[1] == 'AddressNumber':
        continue
    s += t[0] + ' '
s

'S BON JOVI BLVD E '

In [36]:
usaddress.parse('332 ISLAND DR APT 101')

[('332', 'AddressNumber'),
 ('ISLAND', 'StreetName'),
 ('DR', 'StreetNamePostType'),
 ('APT', 'OccupancyType'),
 ('101', 'OccupancyIdentifier')]

In [2]:
import usaddress

In [5]:
t=usaddress.parse('110A S MAIN ST')

In [7]:
{x[1]:x[0] for x in t}

{'AddressNumber': '110A',
 'StreetNamePreDirectional': 'S',
 'StreetName': 'MAIN',
 'StreetNamePostType': 'ST'}

In [12]:
s='110A S MAIN ST E'

In [13]:
usaddress.tokenize(s)

['110A', 'S', 'MAIN', 'ST', 'E']

In [15]:
def to_dict(s):
    return {t[1]: t[0] for t in usaddress.parse(s)}

In [16]:
to_dict(s)

{'AddressNumber': '110A',
 'StreetNamePreDirectional': 'S',
 'StreetName': 'MAIN',
 'StreetNamePostType': 'ST',
 'StreetNamePostDirectional': 'E'}

In [17]:
import re

In [18]:
x='110A'

In [20]:
re.sub('\d+', '', x)

'A'

In [25]:
re.findall('\d', x)

['1', '1', '0']

In [26]:
re.findall('\D+', x)

['A']